<% provide(:title, 'About Us')%>

	<h1>About Us</h1>

<justified> 
	<p>	
		Tripple was started as a free dating site in 2012. This was based 
		on the point of view that, the currently existing sites offering similar services charge their users. Thus, 
		those who are unable to pay, are automatically locked out and cannot search their potential love partners. 
	</p>
		Dating should be free! And thats what tripple is all about.
	<p>

	</p>  
</justified>	
	