

<div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
        
          <!-- <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse"> 
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a> -->
          
         <!-- <a class="brand" href="#">tripple </a>
          
          <!-- <div class="container-fluid nav-collapse"> -->
          
          <nav>
            <ul class="nav">
              <li><%= link_to "Tripple", root_path %></li>
             </ul>
            <ul class ="nav pull-right">  
              <li><%= link_to "Help", help_path %> </li>
              <li><%= link_to "Sign In", "#"  %></li>
            </ul>
            </nav>
          <!--</div><!--/.nav-collapse -->
        <!--</div>-->
      </div>
    </div>
   </div>
   
   